html {
    height: 100%;
}
body {
    min-height: 100%;
}
h1{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #5dab9e;
    box-shadow: 2px 2px #66666626;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    font-size: 3em;
}
.container{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: #abece1;;
    max-height: 100%;
    overflow-y: scroll;
}
#chatDiv{
    display: none;
    height: 100%;
    width: 100%;
}
#formChat{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#formName{
    width: 100%;
}
#formName input, #formName button{
    margin: 0 auto;
}
.margin-vertical{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
#msgInput{
    position: fixed;
    left: 0;
    bottom: 0;
}
#msgSubmit{
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(2.25rem + 2px);
    padding-bottom: 10px;
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #fcfeff55; 
}
.isMe {
    text-align: right;
}
#onlineUsers{    
    list-style-type: none;
}
#onlineUsers li {
    display: inline-block;
    background: #edfeff;
    font-size: 15px;
    padding: 0.1em 0.8em;
    margin-right: 0.5em;
    border-radius: 3em;
    margin-top: 0.3em;
    min-width: 3em;
    text-align: center;
}