html {
    height: 100%;
}
body {
    min-height: 100%;
}
.container{
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    background: #abece1;;
}
#chatDiv{
    display: none;
    height: 100%;
    width: 100%;
}
#formChat{
    position: fixed;
    bottom: 0;
    width: 100%;
}
#formName{
    width: 100%;
}
.margin-vertical{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#msgInput{
    position: fixed;
    left: 0;
    bottom: 0;
}
#msgSubmit{
    position: fixed;
    right: 0;
    bottom: 0;
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #fcfeff55; 
}
.isMe {
    text-align: right;
}
#onlineUsers{    
    list-style-type: none;
}
#onlineUsers li {
    display: inline-block;
    background: #edfeff;
    font-size: 15px;
    padding: 0.1em 0.8em;
    margin-right: 0.5em;
    border-radius: 3em;
    margin-top: 0.3em;
    min-width: 3em;
    text-align: center;
}